Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

📝 Mark "dev" as a known word
  docs/spelling_wordlist.txt
Due: docs

⇪📦 Bump to v1.4.1
  CHANGES.rst
  CHANGES/553.packaging.rst
  CHANGES/560.contrib.rst
  CHANGES/560.packaging.rst
  CHANGES/561.contrib.rst
  CHANGES/563.contrib.rst
  CHANGES/564.contrib.rst
  frozenlist/__init__.py
Due: library, changelog, docs

⇪📦 Bump to v1.4.2.dev0
  frozenlist/__init__.py
Due: library

🐛 Fix `__class_getitem__` signature in classes
  .codecov.yml
  frozenlist/__init__.py
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, configs, tests

Add a change note for PR #571
  CHANGES/567.bugfix.rst
  CHANGES/571.bugfix.rst
Due: changelog

🧪💅 Sort targets in MyPy invocation CLI args
  .pre-commit-config.yaml
Due: none

🧪💅 Declare checked files in the MyPy config
  .pre-commit-config.yaml
  mypy.ini
Due: none

🧪 Split typing-stubs & packaging coverage targets
  .codecov.yml
Due: configs

💅Move MyPy `show-error-codes` from CLI to config
  .pre-commit-config.yaml
Due: none

💅🔧 Use a "hidden" filename for MyPy config
  .mypy.ini
Due: none

Fix misleading URLs in the documentation
  CHANGES/573.doc.rst
  CHANGES/573.packaging.rst
  docs/spelling_wordlist.txt
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_transformers.py
Due: changelog, docs

Fix the Towncrier philosophy link
  CHANGES/README.rst
Due: changelog

Make the Timeline protection happy
  CHANGES/574.doc.rst
Due: changelog

Fix the Towncrier philosophy link (#574)
  CHANGES/574.doc.rst
  CHANGES/README.rst
Due: changelog

Fix misleading URLs in the documentation (#573)
  CHANGES/573.doc.rst
  CHANGES/573.packaging.rst
  docs/spelling_wordlist.txt
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_transformers.py
Due: changelog, docs

Support Python 3.13
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build-wheel.yml
  CHANGES/595.packaging.rst
  CONTRIBUTORS.txt
  setup.cfg
  tests/test_frozenlist.py
Due: changelog, docs, tests

Enforce towncrier requirements for docs to fix CI
  CHANGES/596.misc.rst
  docs/conf.py
  requirements/ci.txt
  requirements/doc.txt
  requirements/towncrier.txt
Due: configs, changelog, docs

Remove change file
  CHANGES/596.misc.rst
Due: changelog

Enforce towncrier requirements for docs to fix CI (#596)
  docs/conf.py
  requirements/ci.txt
  requirements/doc.txt
  requirements/towncrier.txt
Due: configs, docs

Bump coverage to 7.6.1 in ci requirements
  requirements/ci.txt
Due: configs

Bump coverage to from 7.3.3 to 7.6.1 (#597)
  requirements/ci.txt
Due: configs

Support Python 3.13 (#595)
  .github/workflows/ci-cd.yml
  CHANGES/595.packaging.rst
  CONTRIBUTORS.txt
  setup.cfg
  tests/test_frozenlist.py
Due: changelog, docs, tests

Add setup.py file for build
  setup.py
Due: none

Add missing FUNDING.yml
  .github/FUNDING.yml
Due: none

Adjust linter timeout
  .github/workflows/reusable-linters.yml
Due: none

Increase release timeout
  .github/workflows/ci-cd.yml
Due: none

Add missing FUNDING.yml (#609)
  .github/FUNDING.yml
Due: none

Adjust linter timeout (#610)
  .github/workflows/reusable-linters.yml
Due: none

Increase release timeout (#611)
  .github/workflows/ci-cd.yml
Due: none

Release 1.5.0
  CHANGES.rst
  CHANGES/567.bugfix.rst
  CHANGES/571.bugfix.rst
  CHANGES/573.doc.rst
  CHANGES/573.packaging.rst
  CHANGES/574.doc.rst
  CHANGES/595.packaging.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Release 1.5.0 (#612)
  CHANGES.rst
  CHANGES/567.bugfix.rst
  CHANGES/571.bugfix.rst
  CHANGES/573.doc.rst
  CHANGES/573.packaging.rst
  CHANGES/574.doc.rst
  CHANGES/595.packaging.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Bump version to 1.5.1.dev0
  frozenlist/__init__.py
Due: library

Bump version to 1.5.1.dev0 (#613)
  frozenlist/__init__.py
Due: library

📦 Cap Cython under Python 3.12+ below v3.1
  packaging/pep517_backend/_backend.py
Due: none

📝 Add a change note for 41591f2
  CHANGES/41591f2.bugfix.rst
  CHANGES/41591f2.packaging.rst
Due: changelog

📝💅 Allow linking commits in changelog
  .pre-commit-config.yaml
  CHANGES/.TEMPLATE.rst
  pyproject.toml
Due: configs, changelog

💅 Drop commented out junit arg @ pytest cfg
  pytest.ini
Due: none

💅 Reorder pytest-cov args @ pytest conf
  pytest.ini
Due: none

💅 Tell pytest to skip `requirements/`
  pytest.ini
Due: none

Path conditions:
  library: any of: frozenlist/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
