Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

.codecov.yml:

---

codecov:
  notify:
    after_n_builds: 24  # The number of test matrix+lint jobs uploading coverage
    wait_for_ci: false

  require_ci_to_pass: false

comment:
  require_changes: true

coverage:
  range: 99.09..100
  status:
    project:
      default:
        target: 100%
      lib:
        paths:
        - frozenlist/
        target: 97.79%
      tests:
        paths:
        - tests/
        target: 100%

flags:
  library:
    paths:
    - frozenlist/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

...

codecov.yml:

---

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - frozenlist/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

...

📝 Emphasize *RST* @ changelog doc
  CHANGES/README.rst
Due: changelog

📝 Mention avoiding PR numbers @ change notes
  CHANGES/README.rst
Due: changelog

📦 Fix PEP 517 backend config settings typing
  packaging/pep517_backend/_backend.py
Due: none

Prevent copying tmp dir to itself in build backend
  packaging/pep517_backend/_backend.py
Due: none

📝💅 Mv date in changelog titles to second line
  .github/workflows/ci-cd.yml
  CHANGES/.TEMPLATE.rst
  pyproject.toml
Due: configs, changelog

🧪 Bump artifact actions to v4
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build-wheel.yml
Due: none

💅🧪 Add HTML settings to coveragepy
  .coveragerc
Due: none

🧪 Add a token to codecov config
  .codecov.yml
Due: configs

🧪 Declare a 100% coverage expectation @ tests
  .codecov.yml
Due: configs

🧪 Replace frozenlist wildcard w/ folder @ codecov
  .codecov.yml
Due: configs

🧪Map lib&test checks @ codecov based on flags
  .codecov.yml
Due: configs

🧪 Map Codecov typing check o MyPy flag
  .codecov.yml
Due: configs

🧪💅 Drop the codecov flags config section
  .codecov.yml
Due: configs

🧪💅Use site-packages @ coveragepy mapping
  .coveragerc
Due: none

🧪 Exclude xfailing tests from coverage
  .coveragerc
Due: none

🧪 Add a parallel setting to coveragerc
  .coveragerc
Due: none

🧪 Mark entire repository as coveragepy source
  .coveragerc
Due: none

🧪 Add coveragerc settings for future use
  .coveragerc
Due: none

🧪 Group whl build matrices @ CI
  .github/workflows/ci-cd.yml
Due: none

🧪 Use explicit VM names @ test matrix @ CI
  .github/workflows/ci-cd.yml
Due: none

🧪 Mark test coverage results as `pytest`
  .github/workflows/ci-cd.yml
Due: none

🧪 Implement passing codecov token to linters
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
Due: none

🧪 Fail test jobs on Codecov upload problems
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
Due: none

💄🔧 Split out the Towncrier config
  pyproject.toml
  towncrier.toml
Due: configs

Implement support for the free-threaded build of CPython 3.13
  .github/workflows/ci-cd.yml
  frozenlist/_frozenlist.pyx
  packaging/pep517_backend/_backend.py
  pyproject.toml
  requirements/ci.txt
Due: library, configs

Add towncrier blurbs
  CHANGES/618.feature.rst
  CHANGES/618.packaging.rst
Due: changelog

Strict typing
  .mypy.ini
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_compat.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/_transformers.py
  packaging/pep517_backend/cli.py
Due: none

Potential fix for code scanning alert no. 17: Unused import
  packaging/pep517_backend/_backend.py
Due: none

Update setup.cfg
  setup.cfg
Due: none

Update ci.txt
  requirements/ci.txt
Due: configs

Update _transformers.py
  packaging/pep517_backend/_transformers.py
Due: none

Fix version check
  packaging/pep517_backend/_compat.py
Due: none

Update packaging/pep517_backend/_transformers.py
  packaging/pep517_backend/_transformers.py
Due: none

Update reusable-linters.yml
  .github/workflows/reusable-linters.yml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none
